html{
    padding: 0;
    margin: 0;
}
.abc{
    padding: 350px;
    
}
.second{
    text-align: left;
}
body{
    padding-top: 100px;
   background-color: #f1f1f1;
   height: 100vh;
   display: flex;
   flex-direction: column;
}
.navbar-brand{
    font-weight: bolder;
    font-family: montserrat;
    color: aquamarine;
    margin: 25px;
    font-size: 40px;
}
.heading{
    margin-bottom: 20px;
    color: #55efc4;
}
.top{
    font-family: montserrat;
    text-align: left;
    margin-left: 50px;
    
}
h2{
    text-align: center;
    font-family: montserrat;
    color: black;
    margin-bottom: 20px;
}
footer{
    background-color: aquamarine;
    font-family: montserrat;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
}
